.App {
  text-align: center;
  
}
body{
  background-color: burlywood;
}
img{
  border-radius: 100px;
  height: 200px;
  width: 200px;
  border:2px solid beige ;
  margin-top: 50px;

}
Button{
  height: 40px;
  width: 60px;
  border: transparent;
  border-radius: 5px;
  font-weight: bold;
}
.success:hover{
  background-color:rgb(5, 182, 108)
}
.danger:hover{
  background-color: rgb(238, 81, 81);
}
.edit:hover{
  background-color: rgb(79, 79, 230);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
